<ion-view view-title="Settings">
	<ion-content>
	<ion-list>
		<ion-toggle ng-model="settings.enable">
		Enable
		</ion-toggle>
		<label class="item item-input item-select">
			<div class="input-label">
				Tahun Periode
			</div>
			<select ng-model="settings.tahun">
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
			</select>
		</label>
		<label class="item item-input">
			<div class="input-label">
				Server
			</div>
			<input type="text" placeholder="Server API Url" ng-model="settings.api_url">
		</label>
	</ion-list>
	</ion-content>
</ion-view>
