<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="logo row">
      <img class="" src="img/Kota_Bengkulu.png">
      <div class="dashboard-stat green-jungle col">
        <div class="visual">
          <i class="fa fa-bank"></i>
        </div>
        <div class="details">
          <div class="number">
             KOTA BENGKULU
          </div>
          <div class="desc">
            Tahun {{settings.tahun}}
          </div>
        </div>
        <span class="more text-right">
        MR Keungan Mobile
        </span>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="dashboard-stat green-seagreen col">
        <div class="visual">
          <i class="fa fa-gears"></i>
        </div>
        <div class="details">
          <div class="number">
             APBD
          </div>
          <div class="desc">
             
          </div>
        </div>
        <a class="more" ng-href="#/tab/dash/angg">
         Anggaran Pendapatan dan Belanja Daerah<i class="m-icon-swapright fa fa-play"></i>
        </a>
      </div>
      <div class="dashboard-stat red-intense col">
        <div class="visual">
          <i class="fa fa-cubes"></i>
        </div>
        <div class="details">
          <div class="number">
             APBD P
          </div>
          <div class="desc">
          </div>
        </div>
        <a class="more" ng-href="#/tab/dash/anggp">
        Anggaran Pendapatan dan Belanja Daerah Perubahan<i class="m-icon-swapright fa fa-play"></i>
        </a>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="dashboard-stat blue col">
        <div class="visual">
          <i class="fa fa-bank"></i>
        </div>
        <div class="details">
          <div class="number">
             LRA
          </div>
          <div class="desc">
          </div>
        </div>
        <a class="more" ng-href="#/tab/dash/lra">
        Laporan Realisasi Anggaran <i class="m-icon-swapright fa fa-play"></i>
        </a>
      </div>
    </div>
    <!-- div class="row responsive-sm">
      <div class="dashboard-stat purple col">
        <div class="visual">
          <i class="fa fa-area-chart"></i>
        </div>
        <div class="details">
          <div class="number">
             LAK
          </div>
          <div class="desc">
             
          </div>
        </div>
        <span class="more">
        Laporan Arus Kas <i class="m-icon-swapright fa fa-play"></i>
        </span>
      </div>
      <div class="padding">
      </div>
      <div class="dashboard-stat yellow-gold col">
        <div class="visual">
          <i class="fa fa-balance-scale"></i>
        </div>
        <div class="details">
          <div class="number">
             Neraca
          </div>
          <div class="desc">
             
          </div>
        </div>
        <span class="more">
        Neraca Keuangan <i class="m-icon-swapright fa fa-play"></i>
        </span>
      </div>
    </div -->
    <!-- div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div -->
  </ion-content>
</ion-view>
